%ul
  %li= link_to 'Categories', '/admin/categories'
  %li= link_to 'Cooking Methods', '/admin/cooking_methods'
  %li= link_to 'Cuisine', '/admin/cuisines'
  %li= link_to 'Measures', '/admin/measures'

%ul
  %li= link_to 'Recalculate Ingredient Nutrition - Recent', '/admin/admin/recalc_nut_recent'
  %li= link_to 'Recalculate Ingredient Nutrition - All', '/admin/admin/recalc_nut_all'